.btn {
  background-color: $green-dark;
  display: inline-block;
  padding: 1.75em 1.75em;
  margin: 1em 0.5em;
  text-decoration: none;
  color: $off-white;
  &--xl {
    width: 500px;
    padding: 3em;
    font-size: 2rem;
    border: solid $green-light 1px;
    & > a {
      text-decoration: none;
      color: $off-white;
    }
    &:hover {
      border: solid $green-dark 1px;
      & > a {
        color: $green-dark;
      }
    }
  }
  &:hover {
    background-color: $green-light;
    color: $green-dark;
    cursor: pointer;
  }
}



.no-press {
  background-color: $green-dark;
  color: $off-white;
  cursor: default;
  width: 65%;
    &:hover {
      background-color: $green-dark;
      color: $off-white;
      cursor: default;
    }
  }


