#chatbox {
  width: 400px;
  height: 228px;
  border: solid $green-dark 2px;
  color: $off-white;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#chatbox-in-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 600px;
  border: solid $off-white 2px;
  #chatbox {
    width: 100%;
    height: 100%;
    color: $off-white;
    overflow: auto;
    overflow-x: hidden;
  }
  #form {
    position: relative;
    bottom: 0;
  }
}

#form {
  position: fixed;
  bottom: 120px;
  width: 435px;
}

#form-in-game {
  position: fixed;
  bottom: 690px;
  width: 385px;
}

#messagediv {
  width: 100%;
  text-align: left;
  & > div {
    padding-left: 12px;
  }
}

#input {
  width: 90%;
}

#submit {
  display: none;
}
