.outer-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  text-align: center;

  .landing-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    .landing-item {
      align-self: center;
    }

  }
  .lobby-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    .lobby-item {
      align-self: center;
    }
  }
}
