/* COLORS */
$green-base: #059e42;
$green-light: #44bd75;
$green-dark: #006228;
$green-complement: #71c806;
$blue-base: #0a638a;
$blue-light: #428aa9;
$blue-dark: #033d56;
$red-base: #dc3007;
$red-light: #ff7b5c;
$red-dark: #881a00;
$orange-base: #dc7807;
$orange-light: #ffb25c;
$orange-dark: #884800;
$white: #fff;
$off-white: #eee;
$black: #000;

/////////////////////////////////

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
$font-base: 'Crete Round';
